[Desktop Entry]
Version=1.0
Type=Application
Name=xPPC
Comment= Java-based tool for the automation of Pedagogical Course Projects (PPC) at IFPE.
Keywords=xppc;ifpe;
Exec=xppc
Icon=br.edu.ifpe.xppc
Categories=Office;Education;